---
import Header from "../components/header.astro";
import MainLayout from "../layouts/main-layout.astro";
---

<MainLayout title="Home" description="Blogs homepage">
  <div>
    <Header>Hey, I'm Praharshitha</Header>
    <div class="prose prose-lg dark:prose-invert text-inherit">
      <p>
        I'm Praharshitha Duvvuri, a passionate software engineer with deep expertise in Java and a solid understanding of web development. My love for coffee keeps me energized and focused. I thrive on solving complex problems and transforming them into efficient, maintainable code. Whether it's creating robust backend systems or enhancing user interfaces, I am always driven to innovate and improve.
      </p>

      <p>
        When I'm not brewing the perfect cup of coffee, you can find me diving into new coding projects and experiments. For me, coding is not just a profession but a continuous journey of learning and creativity.
      </p>
    </div>
  </div>
</MainLayout>
